<div class="colonneSpe flex">
    <div class="centreImgSpe">
        <img src="{{ asset("img/" ~ menu.photo) }}" alt="poêlé de riz et du poulet dans une poele">
        <p class="centreTextP">{{ menu.nom}}</p>
        <a href="{{ path("page_chef", {"id": menu.membre.id }) }}" class="centreTextChef">Chef {{menu.membre.pseudo}}</a>
    </div>
    <div class="colonnePrixSpe">
        <div class="prix2">
            <span>{{ menu.prix}}€</span>
            par personne</div>
        <a href="{{ path("page_chef", {"id": menu.membre.id }) }}" class="voirMenuSpe">Voir menu</a>
    </div>
</div>
<div class="espaceSpe"></div>
