{% extends 'base.html.twig' %}

{% block title %}Liste Membres{% endblock %}

{% block body %}

<body id="bodyMenu">

<h1>Gestion des menus</h1>

<div class="container">
<p class="alert alert-info">Il y a actuellement {{ membres|length }} membres inscrit sur le site.</p>

<ul class="col-6 row justify-content-start nav nav-tabs">

	<li>
		<a href="{{ path("membre_identite") }}" class="nav-link"><strong>Identité Membre</strong></a>
	</li>
	<li>
		<a href="{{ path("membre_adresse") }}" class="nav-link active"><strong>Adresse Membre</strong></a>
	</li>
    <li>
		<a href="{{ path("membre_ajouter") }}" class="nav-link"><strong>Ajouter un membre</strong></a>
	</li>
</ul>

<table class="table table-bordered table-striped tableMenu">

        <thead class="thead-dark theadMenu">
            <tr>
                <th>ID</th>
                <th>Pseudo</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Adresse</th>
                <th class="tailleColonneTelephone">Telephone</th>
                <th>Descriptif</th>
                <th>Langue</th>
                <th>Zone</th>
                <th>SIRET</th>
                <th>TVA</th>
                <th class="tailleColonneAction">Action</th>
            </tr>
        </thead>

        <tbody>

        {% for membre in membres %}
            <tr class="contourMenuG">
                <td>{{ membre.id }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>{{ membre.ville }}</td>
                <td>{{ membre.cp }}</td>
                <td>{{ membre.adresse }}</td>
                <td>{{ membre.telephone }}</td>
                <td>{{ membre.descriptif | slice(0, 30) ~ '...' }}</td>
                <td>{{ membre.langue }}</td>
                <td>{{ membre.zone }}</td>
                <td>{{ membre.siret }}</td>
                <td>{{ membre.tva }}</td>
                <td>
                    <a href="{{ path("membre_modifier", {"id": membre.id }) }}"class="btn btn-outline-info">Modifier</a>
                    <a href=" {{ path("membre_supprimer", {"id": membre.id }) }}"class="btn btn-outline-info">Supprimer</a>
                    {# <a href=" {{ path("menu_fiche", {"id": menu.id }) }}"class="btn btn-outline-info">Détails</a> #}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</body>
</div>
{% endblock %}
