{% extends 'base.html.twig' %}

{% block title %}Liste Membres{% endblock %}

{% block body %}

<body id="bodyMenu">

<h1>Gestion des membres</h1>

<div class="container">

<ul class="col-4 row justify-content-start nav nav-tabs">

	<li>
		<a href="{{ path("membre_identite") }}" class="nav-link active"><strong>Identité Membre</strong></a>
	</li>
	<li>
		<a href="{{ path("membre_adresse") }}" class="nav-link"><strong>Adresse Membre</strong></a>
	</li>
    <li>
		<a href="{{ path("membre_ajouter") }}" class="nav-link"><strong>Ajouter un membre</strong></a>
	</li>
</ul>

<table class="table table-bordered table-striped tableMenu">

        <thead class="thead-dark theadMenu">
            <tr>
                <th class="contourMenu">ID</th>
                <th class="contourMenu">Photo</th>
                <th class="contourMenu">Pseudo</th>
                <th class="contourMenu">Nom</th>
                <th class="contourMenu">Prénom</th>
                <th class="contourMenu">Mail</th>
                <th class="contourMenu">Action</th>
            </tr>
        </thead>

        <tbody>

        {% for membre in membres %}
            <tr class="contourMenuG">
                <td>{{ membre.id }}</td>
                <td>
                    <img class="BoardPhoto" src="{{ asset("img/" ~ membre.photo) }}" alt="Vous n'avez pas mis de photo de vous">
                </td>
                <td>{{ membre.pseudo }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.mail }}</td>
                <td>
                    <a href="{{ path("membre_modifier", {"id": membre.id }) }}"class="btn btn-outline-info">Modifier</a>
                    {# <a href=" {{ path("livre_supprimer", {"id": menu.id }) }}">
                        <i class="fa fa-trash"></i>
                    </a> #}
                    {# <a href=" {{ path("menu_fiche", {"id": menu.id }) }}"class="btn btn-outline-info">Détails</a> #}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</body>
</div>
{% endblock %}
