{% extends 'base.html.twig' %}

{% block title %}Profil du chef {{membre.prenom}} {{membre.nom}}
{% endblock %}

{% block body %}

	<div id="pageChef">
		<div id="contenu">
			<aside id="aside">
				<div id="photoEtAvis">
						<img src="{{ asset("img/" ~ membre.photo) }}"alt="photo du chef Damien Simon" class="taillePhotoChef">
						<h3>
							{{membre.prenom}}
							{{membre.nom}}
						</h3>
						<p>"Spécialisé en cuisine  !"</p>
						<div id="etoiles" class="flex">
							<div class="etoileJaune">
								<i class="fas fa-star"></i>
							</div>
							<div class="etoileJaune">
								<i class="fas fa-star"></i>
							</div>
							<div class="etoileJaune">
								<i class="fas fa-star"></i>
							</div>
							<div class="etoileJaune">
								<i class="fas fa-star"></i>
							</div>
							<div class="etoile">
								<i class="far fa-star"></i>
							</div>
						</div>
						<p id="moyenne">MOYENNE 4/5</p>
					</div>
					<div id="descriptionChef">
						<h4>A PROPOS DU CHEF</h4>
						<P>
							{{membre.descriptif}}
						</P>
						<h4>ZONE DESSERVIE</h4>
						<p>{{membre.zone}}</p>
						<h4>LANGUES PARLÉES</h4>
						<p>{{membre.langue}}</p>
						<h4>SPECIALITES</h4>

				{% for menu in specialites %}
						<p>{{menu}}</p>

						 {% endfor %}
					</div>
			</aside>
			<main id="pageDesChefs" class="flex">
{% for menu in membre.menus %}
				<div class="menus">
					<div class="premierMenu">
						<div class="sliderimgSlider">

							<img src="{{ asset("img/" ~ menu.photo) }}" alt="plat du chef présenté dans une assiette" class="slider-img4">

							<button class="boutonGauche" onclick="gauche4()">
								<i class="fas fa-chevron-left"></i>
							</button>
							<button class="boutonDroite" onclick="droite4()">
								<i class="fas fa-chevron-right"></i>
							</button>
						</div>
						<div class="detailsMenu">
							<div>
								<p>
									<strong>ENTRÉE</strong>
									{{menu.entree}}<br>
									<strong>PLAT</strong>
									{{menu.plat}}<br>
								<strong>DESSERT</strong>
								{{menu.dessert}}
							</div>
						</div>
						<div class="flex prix position-relative">
							<h5>{{menu.prix}} € par convive</h5>
						</div>
						<div class="bouton flex position-relative">
							<a href=" {{ path("page_reservation") }} ">
								<button>CHOISIR</button>
							</a>
						</div>
					</div>
				</div>
		{% endfor %}

			</main>
		</div>
	</div>

{% endblock %}

