{% extends 'base.html.twig' %}

{% block title %}Fiche Membre{% endblock %}

{% block body %}
	<div class="container ficheMenu">

		<h1>Bonjour {{ membre.prenom }}</h1>

		<ul class="col-4 row justify-content-start nav nav-tabs">
		<li>
			<a href="{{ path("compte", {"id": membre.id }) }}" class="nav-link active"><strong>Mes informations</strong>
			</a>
		</li>
		<li>
			<a href="{{ path("compte_description", {"id": membre.id }) }}" class="nav-link"><strong>Ma description</strong></a>
		</li>
		</ul>

		<ul class="list-group list-group-flush">
		<li class="list-group-item">
				<strong>Pseudo :</strong>
				{{ membre.pseudo}}
			</li>
			<li class="list-group-item">
				<strong>Nom :</strong>
				{{ membre.nom}}
			</li>
			<li class="list-group-item">
				<strong>Prénom :</strong>
				{{ membre.prenom }}
			</li>
			<li class="list-group-item">
				<strong>Adresse email :</strong>
				{{ membre.mail}}
			</li>
			<li class="list-group-item">
				<strong>Adresse postale :</strong>
				{{ membre.adresse}}
			</li>
			<li class="list-group-item">
				<strong>Code postal :</strong>
				{{ membre.cp}}
			</li>
			<li class="list-group-item">
				<strong>Ville :</strong>
				{{ membre.ville}}
			</li>
			<li class="list-group-item">
				<strong>Numéro de téléphone :</strong>
				{{ membre.telephone}}
			</li>
			<li class="list-group-item">
				<strong>Numéro de Siret :</strong>
				{{ membre.siret}}
			</li>
			<li class="list-group-item">
				<strong>Numéro de TVA :</strong>
				{{ membre.tva}}
			</li>
		</ul>
	</table>
	<div>
		<a href="{{ path("compte_modifier", {"id": membre.id }) }}" class="btn btn-outline-info mb-5 mt-5">Modifier mes informations</a>
	</div>
</div>
{% endblock %}

