<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="Homchef vous propose de réserver un chef à domicile pour épater vos convives. Nos chefs s'occupent de tout, vous pourrez enfin profitez de votre soirée en toute tranquilité.">
		<meta name="author" content="Damien Lebihan, Emeline Bonneaud, Jerome Bullet">
		<title>
			{% block title %}HomChef-Chef à domicile
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags("app") }}
		{% endblock %}

	</head>
	<body>
		{# NAV #}

		<header>
			<a href="{{ path("accueil") }}">
			<img id="logoHeader" src="{{ asset("photos/header/logopaysageblanc.png") }}" alt="Logo du site HomChef représentant une toque sur fond blanc">
			</a>
			<nav>
				<ul>
				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
						<li>
							<a href="{{ path("app_logout") }}" id="#">DECONNEXION</a>
						</li>
						<li>
							<a href="{{path("compte", {"id": app.user.id})}}">Bonjour {{ app.user.username }}</a>
						</li>

					{% else %}
						<li>
							 <a href="{{ path("app_login") }}" id="connection">CONNEXION</a> 
						</li>
						<li class="deroulant">
							<a href="#">ASSISTANCE</a>
							<ul class="sous">
								<li>
									<a href="#">FAQ</a>
								</li>
								<li>
									<a href="#preFooter">Téléphone</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{ path("specialites") }}">SPECIALITES</a>
						</li>
					{% endif %}

					{% if is_granted("ROLE_CLIENT") %}
						<li class="deroulant">
							<a href="#">ASSISTANCE</a>
							<ul class="sous">
								<li>
									<a href="#">FAQ</a>
								</li>
								<li>
									<a href="#preFooter">Téléphone</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{ path("specialites") }}">SPECIALITES</a>
						</li>
								{# {% for chef in membre %} #}
								<li>
								{# <a href="#">MON COMPTE</a> #}
							</li>
							{# {% endfor %} #}
						{% endif %}

					{% if is_granted("ROLE_CHEF") %}
							<li>
								<a href="{{ path("menu") }}">MES MENUS</a>
							</li>
						<li>
							{# <a href="{{path("compte", {"id": app.user.id})}}">MON COMPTE</a> #}
						</li>
					{% endif %}

					{% if is_granted("ROLE_ADMIN") %}
							<li>
								<a href="{{ path("membre") }}">GESTION MEMBRE</a>
							</li>
					{% endif %}


				</ul>
			</nav>
			<img src="photos/header/burger.png" id="burger" class="mobile" alt="Icone avec trois traits blanc horizontaux">

		</header>

	<!-- PAGE CONNECTION -->
		<div id="contenantConnection" class="flex">
			<div id="formInscr" class="containerConnec">
				<div id="contactForm" class="flex">
					<a href="#" onclick="inscrip()" class="bordureCo InscrPage">Inscription</a>
					<a href="#" onclick="connec()" class="bordureCo InscrPage">Connexion</a>
					<i class="fas fa-times close"></i>
				</div>
				<h2>Quel plaisir de vous revoir!</h2>
				<form id="formulaire">
					<div class="flex">
						<label id="mail"></label>
						<input type="email" class="mailForm" required placeholder="Adresse e-mail">
						<label></label>
						<input type="password" class="motdepasseForm" required placeholder="Mot de passe" minlength="8">
					</div>
					<a href="">Mot de passe oublié?</a>
					<div class="envoyerForm">
						<input type="submit" value="Connexion">
					</div>
				</form>
			</div>
		</div>

		<!-- PAGE INSCRIPTION -->

		<div id="contenantIntro" class="flex">
			<div id="formInscr1" class="containerConnec">
				<div id="contactForm1" class="flex">
					<a href="#" onclick="inscrip1()" class="bordureCo InscrPage">Inscription</a>
					<a href="#" onclick="connec()" class="bordureCo InscrPage">Connexion</a>
					<i class="fas fa-times close1"></i>
				</div>
				<h2>Inscrivez-vous gratuitement!</h2>
				<form id="formulaire1">
					<div class="nomPrenom flex">
						<label id="nom"></label>
						<input type="text" id="nomForm" class="nomForm" required placeholder="Nom">
						<label id="prenom"></label>
						<input type="text" id="prenomForm" class="prenomForm" required placeholder="Prénom">
					</div>
					<div class="flex">
						<label id="mail1"></label>
						<input type="email" class="mailForm1" required placeholder="Adresse e-mail">
						<label></label>
						<input type="password" class="motdepasseForm1" required placeholder="Mot de passe" minlength="8">
					</div>
					<div class="envoyerForm">
						<input type="submit" value="En avant!">
					</div>
				</form>
			</div>
		 </div>

		{% for type, messages in app.flashes %}
				<div class="{{ type }}">
					{% for msg in messages %}
						{{ msg|raw }}
					{% endfor %}
				</div>
			{% endfor %}

		{% block body %}

		{% endblock %}
<footer>
<section id="preFooter">
	<h2>Besoin d’informations ? Contactez-nous au 01 39 00 56 78</h2>
</section>
<section id="centreFooter" class="flex">
	<div id="centreFoot1" class="flex">
		<img src="/photos/footer/logoportraitblanc.png" alt="Logo du site HomChef représentant une toque sur fond blanc" id="logoSiteFoot">
		<p>1 rue Pasquier<br>
			75008 PARIS<br>
			01 39 00 56 78
		</p>
		<div class="reseauFoot flex">
			<a href="https://fr-fr.facebook.com/" target="_blank"><img src="/photos/footer/facebook.png" alt="Logo Facebook"></a>
			<a href="https://twitter.com" target="_blank"><img src="/photos/footer/twitter.png" alt="Logo Twitter"></a>
			<a href="https://instagram.com" target="_blank"><img src="/photos/footer/instagram.png" alt="Logo Instagram"></a>
			<a href="https://pinterest.com/" target="_blank"><img src="/photos/footer/pinterest.png" alt="Logo Pinterest"></a>
		</div>
	</div>
	<div id="centreFoot2">
		<div class="traitFoot"></div>
		<h3 class="h3Foot">Général</h3>
		<div id="premierLienFoot" class="flex">
			<a href="index.php">Accueil</a><br>
			<a id="connection2" href="#menu">Connexion</a><br>
			<a href="recrutement.php">Recrutement</a><br>
			<a href="#">Vous êtes chef?</a>
		</div>
	</div>
	<div id="centreFoot3">
		<div class="traitFoot"></div>
		<h3 class="h3Foot">Ou sommes nous</h3>
		<div id="deuxiemeLienFoot" class="flex">
			<a href="">Paris</a><br>
			<a href="">Marseille</a><br>
			<a href="">Lyon</a><br>
			<a href="">Bordeaux</a><br>
		</div>
	</div>
	<div id="centreFoot4">
		<div class="traitFoot"></div>
		<h3 class="h3Foot">Autres</h3>
		<div id="troisiemeLienFoot" class="flex">
			<a href="">Blog et actu</a><br>
			<a href="cgv.php">Conditions générales de vente</a><br>
			<a href="cgv.php">Mentions légales</a><br>
		</div>
	</div>
</section>
<div id="finFooter">
	<div class="copyright">Copyright © HomChef</div>
</div>
</footer>
{% block javascripts %}
{{ encore_entry_script_tags("app") }}
{% endblock %}
</body>
</html>

