{% extends 'base.html.twig' %}

{% block title %}Liste Menu{% endblock %}

{% block body %}
<table class="tableMenu">
        <thead class="theadMenu">
            <tr>
                <th class="contourMenu">ID</th>
                <th class="contourMenu">Nom</th>
                <th class="contourMenu">Spécialités</th>
                <th class="contourMenu">Entrée</th>
                <th class="contourMenu">Plat</th>
                <th class="contourMenu">Dessert</th>
                <th class="contourMenu">Prix</th>
                <th class="contourMenu">Photo</th>
                <th class="contourMenu">Action</th>
            </tr>
        </thead>

        <tbody>
            
        {% for menu in menus %}
            <tr class="contourMenuG">
                <td class="contourMenu">{{ menu.id }}</td>
                <td class="contourMenu">{{ menu.nom }}</td>
                <td class="contourMenu">{{ menu.specialite }}</td>
                <td class="contourMenu">{{ menu.entree }}</td>
                <td class="contourMenu">{{ menu.plat }}</td>
                <td class="contourMenu">{{ menu.dessert }}</td>
                <td class="contourMenu">{{ menu.prix }}</td>
                <td class="contourMenu">
                    <img class="BoardPhoto" src="{{ asset("img/" ~ menu.photo) }}" alt="pas de photo">
                </td>
                <td class="contourMenu">
                    <a href=" {{ path("menu_modifier", {"id": menu.id }) }}">Modifier/</a>
                    {# <a href=" {{ path("livre_supprimer", {"id": menu.id }) }}">
                        <i class="fa fa-trash"></i>
                    </a> #}
                    <a href=" {{ path("menu_fiche", {"id": menu.id }) }}">Fiche</a>
                </td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
<a href=" {{ path("menu_ajouter") }}">Ajouter un menu</a>
{% endblock %}
