{% extends 'base.html.twig' %}

{% block title %}Liste Menus{% endblock %}

{% block body %}

<body id="bodyMenu">

<h1>Gestion des menus</h1>

<div class="container">

{% if is_granted("ROLE_ADMIN") %}

    <p class="alert alert-info">Admin</p>

{% else %}
    
    {% set comptage = [] %}

    {% for menu in nombre_menu %}
        {% if app.user.id == menu.membre.id %}
            {% set comptage = comptage|merge([menu]) %}
        {% endif %}
    {% endfor %}
    {% if comptage|length == 0 %}
    <p class="alert alert-info">Vous avez actuellement {{ comptage|length }} menus. Offrez nous vos meilleurs mets!</p>
    {% else %}
    <p class="alert alert-info">Bravo ! Vous avez actuellement {{ comptage|length }} menus à offrir !</p>

    {% endif %}
{% endif %}
<ul class="col-4 row justify-content-start nav nav-tabs">

	<li>
		<a href="{{ path("menu") }}" class="nav-link active"><strong>Liste des menus</strong></a>
	</li>
	<li>
		<a href="{{ path("menu_ajouter") }}" class="nav-link"><strong>Ajouter un menu</strong></a>
	</li>
</ul>


<table class="table table-bordered table-striped tableMenu">

        <thead class="thead-dark theadMenu">
            <tr>
                <th>Nom</th>
                <th>Spécialités</th>
                <th>Entrée</th>
                <th>Plat</th>
                <th>Dessert</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
    {% if is_granted("ROLE_ADMIN") %}
        {% for menu in nombre_menu %}
            <tr class="contourMenuG">
                <td>{{ menu.nom }}</td>
                <td>{{ menu.specialite }}</td>
                <td>{{ menu.entree }}</td>
                <td>{{ menu.plat }}</td>
                <td>{{ menu.dessert }}</td>
                <td>{{ menu.prix }}</td>
                <td>
                    <img class="BoardPhoto" src="{{ asset("img/" ~ menu.photo) }}" alt="pas de photo">
                </td>
                <td>
                    <a href=" {{ path("menu_fiche", {"id": menu.id }) }}"class="btn btn-outline-info">Détails</a>
                    <a href="{{ path("menu_modifier", {"id": menu.id }) }}"class="btn btn-outline-info">Modifier</a>
                    <a href=" {{ path("menu_supprimer", {"id": menu.id }) }}"class="btn btn-outline-info">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        {% for menu in app.user.menus %}
            <tr class="contourMenuG">
                <td>{{ menu.nom }}</td>
                <td>{{ menu.specialite }}</td>
                <td>{{ menu.entree }}</td>
                <td>{{ menu.plat }}</td>
                <td>{{ menu.dessert }}</td>
                <td>{{ menu.prix }}</td>
                <td>
                    <img class="BoardPhoto" src="{{ asset("img/" ~ menu.photo) }}" alt="pas de photo">
                </td>
                <td>
                    <a href=" {{ path("menu_fiche", {"id": menu.id }) }}"class="btn btn-outline-info">Détails</a>
                    <a href="{{ path("menu_modifier", {"id": menu.id }) }}"class="btn btn-outline-info">Modifier</a>
                    <a href=" {{ path("menu_supprimer", {"id": menu.id }) }}"class="btn btn-outline-info">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>
</body>
</div>
{% endblock %}
